doctype html
html
  head
    link(rel='stylesheet' type='text/html' href=`${ static }/css/home/index.css`)
    title ncku csie
  body
    include ../components/header.pug
    +header
    h1 welcome to ncku csie
    section
      p#time!= 'time:' + time
      p#tag!= 'tag:' + tag
      p#announcement!= 'announce_id:' + announcement_id
      script.
        if(tag !== undefined ) document.getElementById('tag').innerHTML = 'tag:' + #{tag} + ', should remove the left column';
